<table border="0" cellspacing="0" cellpadding="0" class="snippet1">
    <tr>
        <td rowspan="5" class="headline">Fallstudien</td>
        <td class="sub"><a href="http://swissmarketingacademy.ch/de/standorte/zuerich_-_marketingpark_s01.htm" target="_blank">Distribution</a></td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
    </tr>
    <tr>
        <td class="sub"><a href="http://www.swissmarketingacademy.ch/de/standorte/uster_-_brunnenhof_s01.htm" target="_blank">Marketing</a></td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
    </tr>
    <tr>
        <td class="sub"><a href="http://www.swissmarketingacademy.ch/de/standorte/berlin_-_spreebogen_s01.htm" target="_blank">Verkaufsförderung</a></td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
    </tr>
    <tr>
        <td class="sub">Kosten | Kalkulation</td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
    </tr>
    <tr>
        <td class="sub">Werbung</td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
		</td>
        <td><a href="#">Dummy</a><br />
            <a href="#">Dummy</a>
        </td>
    </tr>
</table>
